@model IEnumerable<MortgageSystem.ViewModel.CustomerLoanMortage>

@{
    ViewBag.Title = "EmiDetails";
    Layout = "~/Views/Shared/Customer_layout.cshtml";
}

<h2>EmiDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalCreditReport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BussinessCreditReport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialStatement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankStatement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanTenure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmiOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfEmiPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanApplyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MortgageItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueOfMortgage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalCreditReport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BussinessCreditReport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinancialStatement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankStatement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanTenure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmiOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayOfEmiPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanApplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MortgageItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueOfMortgage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
