@model IEnumerable<MortgageSystem.ViewModel.CustomerLoanMortage>

@{
    ViewBag.Title = "LoanStatus";
    Layout = "~/Views/Shared/Customer_layout.cshtml";
}

<h2>Approve Loan Applications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>

                <a href="@Url.Action("ShowAllDetails","Customer", new { LoanNumber = item.LoanNumber },null)">

                    @Html.DisplayFor(modelItem => item.LoanNumber)
                </a>

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>


        </tr>
    }
</table>


