@model MortgageSystem.ViewModel.CustomerLoanMortage

@{
    ViewBag.Title = "Loan Details";
    Layout = "~/Views/Shared/Customer_layout.cshtml";
}

<h2></h2>

<div>
    <h4>Detail Loan Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalCreditReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalCreditReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BussinessCreditReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BussinessCreditReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanTenure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanTenure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmiOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmiOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfEmiPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfEmiPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MortgageItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MortgageItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueOfMortgage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfMortgage)
        </dd>

    </dl>
</div>
<div>
    <button type="button" class="btn btn-default">
        @Html.ActionLink("Pay Emi", "PayEmi", "Customer", new { loanNumber = Model.LoanNumber }, null)
    </button>
</div>